body{
    margin-top: 45px;
    text-align: center;
    background-image: url('./assets/card-back.jpg');
    color: rgb(194, 164, 57);
    font-family: 'satisfy.regular';
    letter-spacing: 1px;
}

.join{
    font-size: 30px;
    margin-top: -30px;
}
.divider{
    font-size: 80;
}


@font-face {
    font-family: 'satisfy.regular';
    src: url(./assets/satisfy.regular.ttf);
}
h1, h3{

    font-size: 55px;
    font-weight: 300px;
}
.frs-logo{
    margin-left: 40px;
    margin-top: -30px;

}
h4{
    padding-left:30px;
    padding-right:30px;
}

.times{
    display: flex;
    justify-content:center;
    text-align: center;
}
