body{
    margin-top: 45px;
    text-align: center;
    background-image: url('./assets/card-back.jpg');
    color: rgb(194, 164, 57);
    font-family: 'satisfy.regular';
    letter-spacing: 1px;
    text-shadow: 2px 2px 4px #000;
}

.join{
    font-size: 30px;
    margin-top: -30px;
}
.divider{
    font-size: 80;
}


@font-face {
    font-family: 'satisfy.regular';
    src: url(./assets/satisfy.regular.ttf);
}
h1, h3{

    font-size: 55px;
    font-weight: 300px;
}
.frs-logo{
    margin-left: 40px;
    margin-top: -30px;

}
img{
    position:realtive;
    text-shadow: orange 10px 0px 30px, orange -10px 0px 30px, orange 0px 10px 30px, orange 0px -10px 30px;
    color: white;
    background: white;
    mix-blend-mode: screen;

}
h4{
    padding-left:30px;
    padding-right:30px;
}
p{
    font-weight:bold;
}

.times{
    display: flex;
    justify-content:center;
    text-align: center;
}
